<h1>Insta3s#index</h1>

<section class="main-header">
  <p class="flash"><%= notice %><%= alert %></p>
  <img src="<%= asset_path "insta3.png" %>">
</section>

<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <p><%= notice %></p>

     <%= link_to "投稿する", new_insta3_path, class: 'btn btn-default' %>

    <% @Insta3s.each do |insta3| %>

    <div class="row">
          <h>タイトル</h>
      <h4><strong><%= insta3.title %></strong></h4>
          <h>コメント</h>
      <p><%= insta3.content %></p>
          <h>投稿者</h>
      <p><%= insta3.user.name if insta3.user %></p>
     
      
      <%= link_to "編集", edit_insta3_path(insta3.id), class: 'btn btn-default btn-sm btn-success' %>
      <%= link_to "削除", insta3_path(insta3.id), method: :delete, data: { confirm: '本当に削除していいですか？'}, class: 'btn btn-default btn-sm btn btn-danger' %>

    <% end %>
    </div>
  </div>
</div>


