<!DOCTYPE html>
<html>
<head>
  <title>Instaclub3</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
　<div class="header">
        <% if user_signed_in? %>
         <li><%= link_to 'マイページ', edit_user_registration_path %></li>
         <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
        <% else %>
         <li><%= link_to 'ログイン', new_user_session_path  %></li>
         <li><%= link_to 'サインアップ', new_user_registration_path %></li>
         <% end %>
 </div>
<%= yield %>

</body>

<footer class="footer">
    <p align = center>営業企画部　伊藤</p>
    <p align = center>©2017 Copy-Free</p>
  </footer>
</body>
</html>

